@font-face {
  font-family: "Roboto";    
  src: url("../fonts/Roboto.woff2") format("woff2"),
       url("../fonts/Roboto.woff") format("woff");
  font-weight: 400; 
	font-style: normal; 
}


body {
	position: relative;
	min-width: 1200px;
	margin: 0;
	font: 16px/24px "Roboto", "Arial", sans-serif;
	color: #283136;
	background-color: #ffffff;	
}

.sprite {
	display: block;
  background-image: url(../image/sprite.png);
  background-repeat: no-repeat;  
}

.sprite-cart-icon {
  width: 15px;
  height: 15px;
  background-position: -10px -10px;
}

.sprite-checkbox-on-png-copy {
  width: 27px;
  height: 23px;
  background-position: -10px -45px;
}

.sprite-fb-icon {
  width: 12px;
  height: 22px;
  background-position: -10px -88px;
}

.sprite-insta-icon {
  width: 21px;
  height: 21px;
  background-position: -10px -130px;
}

.sprite-radio-on-png-copy {
	width: 25px;
	height: 25px;
	background-position: -10px -171px;
}

.sprite-vk-icon {
  width: 26px;
  height: 15px;
  background-position: -10px -216px;
}

.wrapper {
	min-width: 940px;
	background-color: #fff;
}

.container {
	width: 1160px; 
	margin: 0 auto;
	padding: 0 20px;	
}

.clearfix::after {
	content: "";	
	display: table;	
	clear: both;
}

/*=========HEADER=========*/
.main-header {
	margin-bottom: 81px;
	padding-top: 48px;
	background-color: #eee;	
}

.logo {
	float: left;
	margin-right: 10%;
	opacity: 1;
}

.logo:hover {
	opacity: 0.8;
}

.logo:active {
	opacity: 0.3;
}

.main-navigation-link {
	float: left;
	margin-left: 4%;
}

.main-navigation-link ul {
	margin: 0;
	margin-top: 25px;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.main-navigation-link li {
	display: inline-block;
	vertical-align: top;
	margin-right: 9px;
	margin-left: 38px;
	font-size: 16px;
	line-height: 30px;	
}

.main-navigation-item {
	display: block;
	padding-bottom: 10px;
	font-weight: 500;	
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;	
}

.active {
	position: relative;
}

.active::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fb565a;	
}

.main-navigation-item:hover, 
.bucket:hover {
	color: #fb565a;
}

.main-navigation-item:active,
.bucket:active {
	color: #000000;
	opacity: 0.3;
}

.cart {
	float: right;
	margin-top: 25px;
	padding-left: 41px;
	padding-bottom: 10px;
}

.bucket {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-weight: 500;  
  font-size: 16px;
  line-height: 30px;  	
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.bucket::before {
	content: "";
	position: absolute;
	top: 8px;
	left: -40px;
	width: 15px;
	height: 15px;
	background: url(../image/sprite.png) no-repeat;	
	opacity: 0.3;	
}

.bucket-icon::before {
	width: 15px;
  height: 15px;
  background-position: -10px -10px;
}

.bucket:active::before {
	opacity: 1;
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 16px 52px;	
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;	
	color: rgba(255, 255, 255, 1);
	background-color: #fb565a;	
	border-radius: 3px;
}

.btn:hover {
	background-color: #e74246;
}

.btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e74246;	
	box-shadow: inset 0 3px 0 0 #c13135;
}

.slider {
  position: relative;
  width: 1160px;
  height: 424px;
  margin: 0 auto;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  z-index: 1000;
  width: 200px;
  height: 18px;
  margin-left: -100px;
  text-align: center;    
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 8px;
  margin: 0 7px;  
  background: white;
  border: 5px solid white;       
  border-radius: 50%; 
  cursor: pointer;
}

.btn-1:checked ~ .slider-controls label[for="btn-1"],
.btn-2:checked ~ .slider-controls label[for="btn-2"],
.btn-3:checked ~ .slider-controls label[for="btn-3"] { 
  box-shadow: inset 0 0 0 2px #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;  
}

.slide-text{ 
  width: 380px;
  padding: 69px 0;
  color: #283136;
}

.slide2 .slide-text {
	width: 560px;
}

.slide3 .slide-text {
	width: 410px;
}

.slide-title {
	padding-bottom: 28px;
	font-weight: 500;
  font-size: 55px;
  line-height: 1;  
  color: black;
}

.slide-text p {
	margin: 0px 48px 39px 0px;
}

.slide2 p {
	margin-right: 22%;
}

.slide-btn {
	padding: 16px 53px;
}

.slide {
	display: none;
}

.slide:nth-child(1) {
  background-image: url("../image/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: 100% -7px;
}

.slide:nth-child(2) {
  background-image: url("../image/slider-2.jpg");
  background-repeat: no-repeat;
  background-position: 100% -7px;
}

.slide:nth-child(3) {
  background-image: url("../image/slider-3.jpg");
  background-repeat: no-repeat;
  background-position: 100% -7px;
}

.btn-1:checked ~ .slides .slide:nth-child(1) { 
  display: block;
}
.btn-2:checked ~ .slides .slide:nth-child(2) { 
  display: block;
}
.btn-3:checked ~ .slides .slide:nth-child(3) { 
  display: block;
}
/*=========HEADER END=========*/

/*=========INDEX=========*/
.workspace{
	width: 100%;
	margin-bottom: 40px;
	padding-bottom: 80px;
	border-bottom: 2px solid #eeeeee;
}

.workspace-item {
	float: left;
	width: 300px;
	margin-right: 99px;
}

.workspace-item:nth-child(3n) {
	margin-right: 60px;
}

.workspace-img {
	width: 100%;
	margin-bottom: 18px;
}

.workspace-info {
	width: 100%;
}

.workspace-headline {
	margin-bottom: 16px;
	margin-top: 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.workspace-text {
	margin: 0;
	margin-bottom: 33px;
	padding-right: 45px;
}

.workspace-btn {
	padding: 16px 38px;
}

.apps-btn {
	background-color: #00ca74;
}

.apps-btn:hover {
	background-color: #00bc6c;
}

.presentations-btn {
	background-color: #efc84a;
}

.presentations-btn:hover {
	background-color: #eab534;
}

.studio-info {
	width: 100%;
	margin-bottom: 35px;
	padding-bottom: 15px;	
}

.about-us {
	float: left;
	width: 700px;	
	padding-top: 32px;
}

.about-us-headline {
	margin-top: 0px;
	margin-bottom: 34px;
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.about-us-text{
	margin-top: 0px;
	margin-bottom: 43px;
	padding-right: 40px;
}

.heading {
	margin-top: 0;
	margin-bottom: 28px;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	color: #000000;
}

.functions {
	margin: 0;
	padding: 0;
	list-style: none;
}

.functions-item {
	position: relative;
	margin-bottom: 24px;
	padding-left: 36px;
}

.functions-item::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	display: block;	
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.our-preferences {
	float: right;
	width: 360px;
	padding-left: 40px;	
}

.preferences-img {
	margin-bottom: 33px;
}

.preferences {
	float: left;
	width: 120px;	
}

.preferences-heading {
	margin-left: 17px;
	margin-bottom: 61px;
}

.result {
	position: relative;
	display: inline-block;
	vertical-align: top;	
	margin-bottom: 38px;
	font-weight: 700;	
	font-size: 45px;
	line-height: 10px;	
	color: #000000;
}

.percent {
	position: absolute;
	top: -14px;
	display: inline-block;
	vertical-align: top;	
	font-size: 25px;
	line-height: 1;	
}

.preferences-item {
	display: inline-block;
	line-height: 18px;
}

.portfolio {
	width: 100%;	
	margin-bottom: 80px;
	padding-top: 46px;
	padding-bottom: 32px;
	font-size: 0;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

.portfolio-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 260px;
	margin-right: 40px;
	text-align: center;		
	opacity: 0.2;
}

.portfolio-item:last-child {
	margin-right: 0;
}

.portfolio-item:last-child::after {
	display: none;
}

.portfolio-item::after {
	content: "";
	position: absolute;
	top: 18px;
	right: -20px;
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
}

.portfolio-item:hover {
	opacity: 1;
}

.portfolio-item:active {
	opacity: 0.1;
}

.item-academy {
	padding-top: 16px;
}

.item-pink {
	padding-top: 18px;
}

.item-mishka {
	padding-top: 6px;
}

.map {
	position: relative;
	width: 100%;
	height: 416px;
	margin-bottom: 54px;	
	background: url(../image/map.jpg) no-repeat center center;	
}

.main-contacts {
	position: absolute;
	top: 54px;
	left: 50%;
	width: 220px;
	margin-left: -580px;
	padding: 48px;
	background-color: #fff;	
}

.main-contacts .heading {
	margin-bottom: 23px;
	font-size: 18px;
	line-height: 30px;	
}

.main-contacts p {
	margin: 0 0 19px 2px;
	line-height: 18px;
	color: #666666;
}

.feedback {
	margin-top: 18px;
  padding: 16px 45px;
}
/*=========INDEX END=========*/

/*=========CATALOG=========*/
.catalog-title {
	clear: both;
	width: 100%;
	padding: 50px 0;
}

.title {
	margin-top: 40px;
	margin-bottom: 64px;
	font-weight: 500;
	font-size: 55px;
	line-height: 1;
	text-align: center;
	color: #000000;
}

.choice {
	float: left;
	width: 260px;
	margin-right: 60px;
	padding-right: 40px;
}

.choice-zone-item{
	margin: 0 0 60px 0;
	padding: 0;
	border: none;
}

.choice-zone-item legend{
	margin-bottom: 22px;
	padding: 0;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-top: 34px;
	padding: 0 20px;
	padding-top: 39px;
	margin-bottom: 15px;
	background-color: #eeeeee;
	border-radius: 3px;
}

.scale {
	height: 2px;
	background-color: #d7dcde;
}

.bar {
	width: 151px;
	height: 2px;
	background-color: #00ca74;
}

.toggle {
	position: absolute;
	top: 30px;
	left: 0;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.toggle-min {
	left: 20px;
}


.toggle-max {
	left: 160px;
}

.price-controls{
	font-size: 0;
}

.price-controls label{
	display: inline-block;
	width: 50%;
	font-size: 16px;
}

.price-controls input{
	width: 60px;
	margin-left: 10px;
	padding: 8px 10px;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 3px;
	background-color: #eeeeee;
}

.max-price {
  text-align: right;
}

.radio-input,
.checkbox-input {
  display:none;            
}

.radio-label, 
.checkbox-label {
	position: relative;
	display: block;
	margin-bottom: 24px;
	padding-left: 36px;
	font-size: 16px;
	line-height: 20px;
	color: #283136;
	cursor: pointer;
}

.radio-label::before,
.checkbox-label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: 0px;  
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 0 0 0;
  border: 3px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.radio-input:checked + .radio-label::before,
.checkbox-input:checked + .checkbox-label::before {
	width: 25px;
	height: 25px;
	border: none;
	background-image: url(../image/sprite.png);
	background-repeat: no-repeat;
	background-position: -10px -171px;
	opacity: 0.4;
}

.radio-input:disabled + .radio-label::before,
.radio-input:checked:disabled + .radio-label::before,
.checkbox-input:disabled + .checkbox-label::before,
.checkbox-input:checked:disabled + .checkbox-label::before {
	opacity: 0.1;
}

.radio-label:hover::before,
.checkbox-label:hover::before {
	opacity: 1;
}

.radio-input:checked + .radio-label:hover::before,
.checkbox-input:checked + .checkbox-label:hover::before {
	opacity: 1;
}

.checkbox-label::before{
	width: 18px;
	height: 18px;
	border: 2px solid #4d4d4d;
	border-radius: 5px;
}

.checkbox-input:checked + .checkbox-label::before {
	width: 27px;
	height: 23px;
	background-position: -10px -45px;
}

.btn-show {
	width: 100%;
	padding: 19px 0;
	font-weight: 600;
	text-align: center;
	color: rgba(0, 0, 0, 1);
	background-color: #eeeeee;
}

.btn-show:hover {
	background-color: #dfdfdf;
}

.btn-show:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.gallery {
	float: left;
	width: 760px;
	padding-left: 40px;
}

.gallery-header {
	width: 100%;
	margin-bottom: 34px;
	font-size: 0;
}

.headline {
	display: inline-block;
	float: left;
	width: 360px;
	margin: 0;
	margin-right: 40px;
	padding-bottom: 22px;
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
	color: #000000;
}

.breadcrumbs {
	float: left;
	width: 280px;
	margin-right: 20px;
	padding-bottom: 22px;
}

.breadcrumbs-item {
	display: inline-block;
	margin-right: 26px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item:last-child {
	margin-right: 0;
}

.breadcrumbs-item:hover {
	color: rgba(0, 0, 0, 0.6);
}

.item-active {
	color: rgba(0, 0, 0, 1);
}

.arrows {
	float: right;
	width: 60px;
}

.arrow {
	display: inline-block;
	margin: 0;
	margin-left: 20px;
}

.arrow::before {
  content: "";
  display: inline-block;
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow:hover::before {
	border-color: rgba(0, 0, 0, 0.6);
	border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrow-active::before {
	border-color: rgba(0, 0, 0, 1);
	border-right-color: transparent;
  border-left-color: transparent;
}

.gallery-item {
	position: relative;
	float: left;
	width: 360px;
	margin-right: 40px;
	margin-bottom: 36px;
}

.gallery-item:hover .gallery-item-header {
	background-color: #4d4d4d;
}

.gallery-item:hover .price {
	display: block;
}

.gallery-item-header {
	width: 328px;
	height: 14px;
	padding: 13px 16px;
	font-size: 0;
	background-color: #e9e9e9;
}

.points {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 9px;
	background-color: #ffffff;
	border-radius: 50%;
}

.gallery-item:nth-child(odd) {
	margin-right: 0;
}

.price {
	display: none;
	position: absolute;
	bottom: 6px;
	z-index: 5;
	width: 240px;
	padding: 35px 60px 42px; 
	text-align: center;
	background-color: #eeeeee;
}

.price-heading {
	margin-top: 0;
	margin-bottom: 26px;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.price-text {
	margin-top: 0;
	margin-bottom: 30px;
	line-height: 18px;
	color: #666666;
}

.price-btn {
	width: 200px;
	padding: 18px 0;
	text-align: center;
}

.price-btn:active {
	color: rgba(255, 255, 255, 1);
}

.paginator {
	float: left;
}
/*=========CATALOG END=========*/

/*=========FOOTER=========*/
.main-footer {
	width: 100%;
	padding-top: 16px;
	padding-bottom: 70px;
}

.footer-social {
	float: left;
	width: 300px;
	margin-right: 80px;
}

.social-btn {
	position: relative;
	display: inline-block;
	vertical-align: top;	
	width: 78px;
	height: 78px;
	margin-right: 9px;
	font-size: 0;	
	background-color: #e1e1e1;
	border-radius: 50%;
}

.social-btn:hover {
	background-color: #e74246;
}

.social-btn:active {
	background-color: #d7373b;
}

.social-btn:active::before {
	opacity: 0.3;
}

.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;	
	background-image: url(../image/sprite.png);
	background-repeat: no-repeat;
	transform: translate(-50%, -50%);
}

.social-btn-vk::before {
	width: 26px;
  height: 15px;
  background-position: -10px -216px;
}

.social-btn-fb::before {
	width: 12px;
  height: 22px;
  background-position: -10px -88px;
}

.social-btn-inst::before {
	width: 21px;
  height: 21px;
  background-position: -10px -130px;
}

.footer-info {
	float: left;
	width: 560px;
	padding-left: 20px;
}

.footer-text {
	margin: 0;
	margin-bottom: 10px;
	margin-top: 4px;
	font-weight: 500;
	font-size: 36px;
	line-height: 36px;	
	color: #000000;	
}

.proposition {
	margin: 0;
	line-height: 22px;
	color: #444444;	
}
/*=========FOOTER END=========*/

/*=========MODAL C0NTENT=========*/
@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-content {
	position: absolute;
	top: 68.83%;
	left: 50%;
	z-index: 20;
	display: none;	
	width: 772px;
	margin-left: -480px; 
	padding: 66px 90px 70px 98px;
	color: #444;
	background-color: #ffffff;	
	box-shadow: 0px 20px 75px rgba(0,0,0,0.75);
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-content-heading {
	display: inline-block;
	margin: 0;
	padding-bottom: 69px;
	font-weight: 500;
	font-size: 45px;
	line-height: 1;	
	color: #000000;	
}

.close {
	position: absolute;
	top: 78px;
	right: 90px;	
	width: 21px;
	height: 21px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	outline: none;
	cursor: pointer;	
}

.close::before,
.close::after {
	content: "";
	position: absolute;
	top: 9px;
	left: -2px;
	width: 25px;
	height: 3px;
	background-color: #fb565a;
	border-radius: 1px;
	opacity: 0.3;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.close:hover::before,
.close:hover::after {
	opacity: 1;
}

.close:active::before,
.close:active::after {
	opacity: 0.1;
}

.popup-form {
	position: relative;
	width: 100%;
}

.position-box {
	position: relative;
	display: inline-block;
	font-size: 0;
}

.position-box:first-of-type {
	margin-right: 35px;
}

.popup-input,
.popup-textarea {
	width: 360px;
  margin-bottom: 60px;
  margin-left: 2px;	
	padding: 15px 14px 14px 14px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 18px;
	color: #444444;
	border: 2px solid #d7dcde;
	border-radius: 3px;	
	outline: none;	  
}

.popup-input:hover,
.popup-textarea:hover {
	border-color: #b4b9bb;
}

.popup-input:focus,
.popup-textarea:focus {
	color: #000000;
	border-color: #000000;    
}

.popup-input:focus::-webkit-input-placeholder {
	color:transparent;
}

.popup-input:focus:-moz-placeholder {
	color:transparent; 
} /* FF 4-18 */

.popup-input:focus::-moz-placeholder {
	color:transparent;
} /* FF 19+ */

.popup-input:focus:-ms-input-placeholder {
	color:transparent;
} /* IE 10+ */

.popup-label,
.textarea-label {
	position: absolute;
	top: -27px;
	left: 2px;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}

.textarea-label {
	left: 3px;
}

.popup-textarea {
	width: 760px;	
	margin-right: 0px;	
	margin-bottom: 35px;
	padding: 11px 11px 14px 14px;
	box-sizing: border-box;	
}

.modal-btn {
	margin-bottom: 14px;
	margin-left: 2px;
	padding: 16px 82px;	
  border: none;
  outline: none;  
}
