@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular.woff2") format("woff2"),
         url("../fonts/RobotoRegular.woff") format("woff");
}

body{
	min-width: 1200px;
	font: 16px/24px "RobotoRegular", "Arial", sans-serif;
	color:  #283136;
	background-color: #fff;
	margin: 0px;
}

.wrapper{
	min-width: 940px;
	background-color: #fff;
}

.container{
	width: 1160px; 
	padding: 0px 20px;
	margin: 0 auto;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

/*=========HEADER=========*/
.main-header{
	padding-top: 48px;
	background-color: #eee;
}

.logo{
	float: left;
	margin-right: 10%;
	opacity: 1;
}

.logo:hover{opacity: 0.8;}

.logo:active{opacity: 0.3;}

.main-navigation{
	float: left;
	margin-right: 4%;
}

.main-navigation ul{
	list-style: none;
	margin: 0px;
	margin-top: 25px;
	padding: 0px;
	font-size: 0px;
}

.main-navigation li{
	display: inline-block;
	vertical-align: top;
	margin-left: 38px;
	font-size: 16px;
	line-height: 30px;
	margin-right: 9px;
}

.main-navigation-item{
	display: block;
	font-weight: 500;
	color: #000;
	padding-bottom: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.main-navigation-item:hover, 
.bucket:hover{
	color: #fb565a;
}

.main-navigation-item:active,
.bucket:active{
	color: #000;
	opacity: 0.3;
}

.cart{
	float: right;
	margin-top: 25px;
	padding-left: 41px;
	padding-bottom: 10px;
}

.bucket{
	position: relative;
	display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.bucket::before{
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: url(../image/cart-icon.png) no-repeat;
	top: 8px;
	left: -40px;
	opacity: 0.3;
}

.btn{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	text-decoration: none;
	background-color: #fb565a;
	padding: 16px 52px;
	border-radius: 2px;
}

.btn:hover{background-color: #e74246;}

.btn:active{
	background-color: #e74246;
	color: rgba(255,255,255,0.3);
}

.slider{
	position: relative;
	margin-bottom: 80px;
}

/*=========INDEX=========*/
.workspace{
	width: 100%;
	border-bottom: 2px solid #eeeeee;
	margin-bottom: 42px;
	padding-bottom: 78px;
}

.workspace-item{
	float: left;
	width: 300px;
	margin-right: 99px;
}

.workspace-item:nth-child(3n){
	margin-right: 60px;
}

.workspace-img{
	width: 100%;
	margin-bottom: 18px;
}

.workspace-info{
	width: 100%;
}

.workspace-headline{
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 16px;
	margin-top: 0px;
}

.workspace-text{
	padding-right: 45px;
	margin: 0px;
	margin-bottom: 33px;
}

.workspace-btn{padding: 16px 38px;}

.apps-btn{background-color: #00ca74;}

.apps-btn:hover{background-color: #00bc6c;}

.presentations-btn{background-color: #efc84a;}

.presentations-btn:hover{background-color: #eab534;}

.studio-info{
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 35px;
}

.about-us{
	width: 700px;
	float: left;
	padding-top: 32px;
}

.about-us-headline{
	font-size: 45px;
	line-height: 45px;
	color: #000;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 34px;
}

.about-us-text{
	margin-top: 0px;
	margin-bottom: 43px;
	padding-right: 40px;
}

.heading{
	text-transform: uppercase;
	color: #000;
	margin-top: 0px;
	margin-bottom: 28px;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
}

.functions{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.functions-item{
	position: relative;
	margin-bottom: 24px;
	padding-left: 36px;
}

.functions-item::before{
	content: "";
	display: block;
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	top: 12px;
	left: 0px;
}

.our-preferences{
	float: right;
	width: 360px;
	padding-left: 40px;	
}

.preferences-img{
	margin-bottom: 33px;
}

.preferences{
	width: 120px;
	float: left;
}

.preferences-heading{
	margin-left: 17px;
	margin-bottom: 48px;
}

.percent{
	display: inline-block;
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
	color: #000;
	margin-bottom: 35px;
}

.preferences-item{
	line-height: 18px;
}

.portfolio{
	width: 100%;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	margin-bottom: 80px;
	padding-top: 46px;
	padding-bottom: 32px;
	font-size: 0px;
}

.portfolio-item{
	position: relative;
	width: 260px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	opacity: 0.2;
}

.portfolio-item:last-child{
	margin-right: 0px;
}

.portfolio-item:last-child::after{
	display: none;
}

.portfolio-item::after{
	content: "";
	position: absolute;
	width: 2px;
	height: 52px;
	background-color: #eee;
	top: 18px;
	right: -20px;
}

.portfolio-item:hover{opacity: 1;}

.portfolio-item:active{opacity: 0.1;}

.item-academy{padding-top: 16px;}

.item-pink{padding-top: 18px;}

.item-mishka{padding-top: 6px;}

.map{
	width: 100%;
	height: 416px;
	position: relative;
	background: url(../image/map.jpg) no-repeat center center;
	margin-bottom: 68px;
}

.main-contacts{
	width: 220px;
	padding: 48px;
	background-color: #fff;
	position: absolute;
	top: 54px;
	left: 50%;
	margin-left: -580px;
}

.main-contacts .heading{
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 23px;
}

.main-contacts p{
	color: #666;
	margin: 0px 0px 19px 2px;
	line-height: 18px;
}

.feedback{
	margin-top: 18px;
    padding: 16px 45px;
}


/*=========FOOTER=========*/
.main-footer{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 70px;
}

.footer-social{
	width: 300px;
	float: left;
	margin-right: 80px;
}

.footer-info{
	float: left;
	width: 560px;
	padding-left: 20px;
}

.footer-text{
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000;
	margin: 0px;
	margin-bottom: 13px;
}

.proposition{
	line-height: 22px;
	color: #444;
	margin: 0px;
}

.modal-content{display: none;}